/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* синий #2196F3 */
/* белый #FFFFFF */
/* банер фон #2F303A */

:root {
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
    --blue: #2196F3;
    --white: #FFFFFF;
    --banner: #2F303A;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

p {
    margin: 0;
}

.h3 {
    margin-bottom: 10px;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    /* outline: 2px solid tomato; */
}

/* скрытое */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

/* Шапка */

.section-header{
    margin: 0 0;
    background-color: var(--white);
}

.logo{

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue);
}

.link{
    text-decoration: none;
}

.logo-dark{
    color: #000;
}

.logo-light{
    color: #FFF;
}

/* Навигация */

.main-nav{
    display: flex;
    align-items: center;
}

.site-nav{
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child){
    
    margin-right: 50px;
}



.contact-nav{
    display: flex;
    margin-left: auto;
    
}

.contact-nav .item + .item{
    margin-left: 50px;
}



.site-nav .item{
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}
    
.site-nav .link {
    color: var(--primery-text-color);
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--blue);
}

.site-nav .link.current{
    color: var(--blue);
}

.contact-nav .link {
    color: var(--secondary-text-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus{
    color: var(--blue);
} 

ul {
    list-style: none;
}

/* кнопка*/

.button{
    border-radius: 4px;
    margin-bottom: 200px;
    padding: 10px 25px;
    min-width: 186px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;

    color: var(--primery-text-color);
    background-color: #F5F4FA;
}

.filtr .button{
    margin-bottom: 50px;
    display: inline-block;
    border-radius: 4px;
    min-width: 73px;
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    letter-spacing: 0.03em;
}

.button:hover,
.button:focus{
    cursor: pointer;
    color: var(--white);
    background-color: var(--blue);
}

/* Подвал */

.footer{
    margin-top: 20px;
    padding: 0 0;
    text-align: start;
}

.footer-section{
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--banner);
}

.footer-item{
    margin-bottom: 9px;
}

.footer-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-adress{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white)
}

/* Секция */

.section{
    padding-top: 94px;
   
}


.section-team{
    background-color: #F5F4FA;
}

.section-title{
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primery-text-color);
}

.work-section{
  
    background-color: #E5E5E5;
}

/* Hero */
.hero {
    text-align: center;
    background-color: var(--banner);
}

.hero-title{
    margin-top: 0;
    margin-bottom: 30;
    padding-top: 200px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white);
}

/* Наши преимущества */

.features-section{
    background-color: #E5E5E5;
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin: 0;
    padding: 0 0;
}

.features .item + .item {
    margin-left: 30px;
    
}

.features .item{
    width: 270px;
}

.features .title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primery-text-color);
}


/* Наша деятельность */
.works{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0;
    padding-left: 0;
    padding-bottom: 94px;
}



.works .item + .item {
    margin-left: 30px;
    

}


/* Команда */

.team{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin: 0 0;
    padding-left: 0%;
    padding-bottom: 94px;
    
    text-align: center;
}

.team .item{
    padding-bottom: 94;

    width: 260px;
    height: 368px;
    

    background: #FFFFFF;
}

.team .item + .item{
    margin-left: 30px;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* Портфолио */

.portfolio{
    background: #E5E5E5;
}

.filtr{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    padding-top: 94px;
    padding-bottom: 50px;
    padding-left: 0;
}

.filtr .item + .item{
    margin-left: 8px;

}

.filtr .item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: va(--primery-text-color);
}

.projects{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-bottom: 94px;
    margin-top: 0;
    margin-bottom: 0;
    
    
    /* background-color: aqua; */
}

.projects-item{
    width: 380px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #FFFFFF;

    /* text-align: left; */

}

.projects-item:nth-child(3n){
    margin-right: 0;
}

.projects-item:nth-last-child(-n + 3){
    margin-bottom: 0;
}


.projects-title{
    margin: 20px 24px 4px 24px;
    

    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--primery-text-color);
}

.projects-text{
    margin: 0 24px 20px 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* синий #2196F3 */
/* белый #FFFFFF */
/* бфнер фон #2F303A */
/* подвал текст rgba(255, 255, 255, 0.6)*/